In [16]:
import pandas
from pandas.plotting import scatter_matrix
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import linear_kernel

In [17]:
movies = pandas.read_csv('ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [20]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(movies['genres'])


cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1.        , 0.31379419, 0.0611029 , ..., 0.        , 0.16123168,
        0.16761358],
       [0.31379419, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.0611029 , 0.        , 1.        , ..., 0.        , 0.        ,
        0.36454626],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.16123168, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.16761358, 0.        , 0.36454626, ..., 0.        , 0.        ,
        1.        ]])

In [33]:
titles = movies['title']
indices = pandas.Series(movies.index, index=movies['title'])

# Function that get movie recommendations based on the cosine similarity score of movie genres
def genre_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    print(sim_scores)
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]


genre_recommendations('Jumanji (1995)').head(20)

[(53, 0.9999999999999998), (109, 0.9999999999999998), (767, 0.9999999999999998), (1514, 0.9999999999999998), (1556, 0.9999999999999998), (1617, 0.9999999999999998), (1618, 0.9999999999999998), (1799, 0.9999999999999998), (3574, 0.9999999999999998), (6075, 0.9999999999999998), (6389, 0.9999999999999998), (6629, 0.9999999999999998), (6655, 0.9999999999999998), (6751, 0.9999999999999998), (7426, 0.9999999999999998), (7478, 0.9999999999999998), (8230, 0.9999999999999998), (8641, 0.9999999999999998), (8719, 0.9999999999999998), (8800, 0.9999999999999998)]

53                     Indian in the Cupboard, The (1995)
109                     NeverEnding Story III, The (1994)
767                       Escape to Witch Mountain (1975)
1514            Darby O'Gill and the Little People (1959)
1556                                  Return to Oz (1985)
1617                        NeverEnding Story, The (1984)
1618    NeverEnding Story II: The Next Chapter, The (1...
1799                        Santa Claus: The Movie (1985)
3574    Harry Potter and the Sorcerer's Stone (a.k.a. ...
6075    Chronicles of Narnia: The Lion, the Witch and ...
6389                          Bridge to Terabithia (2007)
6629                           Golden Compass, The (2007)
6655          Water Horse: Legend of the Deep, The (2007)
6751     Chronicles of Narnia: Prince Caspian, The (2008)
7426                           Alice in Wonderland (1933)
7478    Chronicles of Narnia: The Voyage of the Dawn T...
8230                Percy Jackson: Sea of Monsters (2013)
8641                                   Seventh Son (2014)
8719                   The Cave of the Golden Rose (1991)
8800                                           Pan (2015)
Name: title, dtype: object