link: https://www.ritchieng.com/machine-learning-polynomial-regression/

In [2]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
%matplotlib inline
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [56]:
movies = pd.read_csv('../ml-20m/movies.csv', sep=',', encoding='latin-1', nrows=10, 
                      usecols=['movieId', 'genres'])
genreList = movies['genres'].str.split('|')


lista = set()
for genre in genreList:
    for i in genre:
        lista.add(i)
        
print(lista)
for g in lista:
    movies[g] = 0
    
copyM = movies.copy(deep=False)
for index, row in movies.iterrows():
    for g in row['genres'].split('|'):
        print(copyM.loc[index, :][g])
    
copyM.head()

{'Comedy', 'Romance', 'Thriller', 'Drama', 'Adventure', 'Fantasy', 'Action', 'Animation', 'Children', 'Crime'}
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

,movieId,genres,Comedy,Romance,Thriller,Drama,Adventure,Fantasy,Action,Animation,Children,Crime
0,1,Adventure|Animation|Children|Comedy|Fantasy,0,0,0,0,0,0,0,0,0,0
1,2,Adventure|Children|Fantasy,0,0,0,0,0,0,0,0,0,0
2,3,Comedy|Romance,0,0,0,0,0,0,0,0,0,0
3,4,Comedy|Drama|Romance,0,0,0,0,0,0,0,0,0,0
4,5,Comedy,0,0,0,0,0,0,0,0,0,0