# Matrix Factorization

In [1]:
# Import libraries
import numpy as np
import pandas as pd

# Reading ratings file
ratings = pd.read_csv('./ml-latest-small/ratings.csv', sep=',', encoding='latin-1', usecols=['userId', 'movieId', 'rating', 'timestamp'])

# Reading users file
users = pd.read_csv('./ml-latest-small/tags.csv', sep=',', encoding='latin-1', usecols=['userId'])

# Reading movies file
movies = pd.read_csv('./ml-latest-small/movies.csv', sep=',', encoding='latin-1', usecols=['movieId', 'title', 'genres'])

In [2]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
n_users = ratings.userId.unique().shape[0]
n_movies = ratings.movieId.unique().shape[0]
print ('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_movies))

Number of users = 610 | Number of movies = 9724

In [5]:
Ratings = ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
Ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
R = Ratings.to_numpy()
user_ratings_mean = np.mean(R, axis = 1)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [7]:
from scipy.sparse.linalg import svds 
U, sigma, Vt = svds(Ratings_demeaned, k = 50)

sigma = np.diag(sigma)

all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [8]:
preds = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)\
# preds.head()

In [9]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # User ID starts at 1, not 0
    sorted_user_predictions = preds.iloc[user_row_number].sort_values(ascending=False) # User ID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings[original_ratings.userId == (userID)]
    user_full = (user_data.merge(movies, how = 'left', left_on = 'movieId', right_on = 'movieId').
                     sort_values(['rating'], ascending=False)
                 )
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies[~movies['movieId'].isin(user_full['movieId'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'movieId',
               right_on = 'movieId').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

### Recomendações para um usuário

In [10]:
# Prever os 20 filmes com melhor nota para o usuário 1310
already_rated, predictions = recommend_movies(preds, 1, movies, ratings, 20)

#### Filmes já avaliados pelo usuário

In [11]:
# Top 20 movies that User 1310 has rated 
already_rated.head(20)

,userId,movieId,rating,timestamp,title,genres
231,1,5060,5.0,964984002,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War
185,1,2872,5.0,964981680,Excalibur (1981),Adventure|Fantasy
89,1,1291,5.0,964981909,Indiana Jones and the Last Crusade (1989),Action|Adventure
90,1,1298,5.0,964984086,Pink Floyd: The Wall (1982),Drama|Musical
190,1,2948,5.0,964982191,From Russia with Love (1963),Action|Adventure|Thriller
189,1,2947,5.0,964982176,Goldfinger (1964),Action|Adventure|Thriller
188,1,2944,5.0,964981872,"Dirty Dozen, The (1967)",Action|Drama|War
186,1,2899,5.0,964982703,Gulliver's Travels (1939),Adventure|Animation|Children
184,1,2858,5.0,964980868,American Beauty (1999),Drama|Romance
179,1,2700,5.0,964980985,"South Park: Bigger, Longer and Uncut (1999)",Animation|Comedy|Musical
98,1,1517,5.0,964981107,Austin Powers: International Man of Mystery (1...,Action|Adventure|Comedy
100,1,1573,5.0,964982290,Face/Off (1997),Action|Crime|Drama|Thriller
102,1,1587,5.0,964982346,Conan the Barbarian (1982),Action|Adventure|Fantasy
103,1,1617,5.0,964982951,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller
181,1,2761,5.0,964982703,"Iron Giant, The (1999)",Adventure|Animation|Children|Drama|Sci-Fi
105,1,1625,5.0,964983504,"Game, The (1997)",Drama|Mystery|Thriller
88,1,1282,5.0,964982703,Fantasia (1940),Animation|Children|Fantasy|Musical
87,1,1278,5.0,964983414,Young Frankenstein (1974),Comedy|Fantasy
86,1,1275,5.0,964982290,Highlander (1986),Action|Adventure|Fantasy
85,1,1270,5.0,964983705,Back to the Future (1985),Adventure|Comedy|Sci-Fi

#### Filmes recomandados pelo sistema para este usuário

In [12]:
# Top 20 movies that User 1310 hopefully will enjoy
predictions

,movieId,title,genres
736,1036,Die Hard (1988),Action|Crime|Thriller
844,1221,"Godfather: Part II, The (1974)",Crime|Drama
974,1387,Jaws (1975),Action|Horror
615,858,"Godfather, The (1972)",Crime|Drama
1328,1968,"Breakfast Club, The (1985)",Comedy|Drama
874,1259,Stand by Me (1986),Adventure|Drama
1927,2804,"Christmas Story, A (1983)",Children|Comedy
1416,2080,Lady and the Tramp (1955),Animation|Children|Comedy|Romance
2765,4011,Snatch (2000),Comedy|Crime|Thriller
1417,2081,"Little Mermaid, The (1989)",Animation|Children|Comedy|Musical|Romance
1421,2085,101 Dalmatians (One Hundred and One Dalmatians...,Adventure|Animation|Children
831,1200,Aliens (1986),Action|Adventure|Horror|Sci-Fi
1108,1610,"Hunt for Red October, The (1990)",Action|Adventure|Thriller
2007,2918,Ferris Bueller's Day Off (1986),Comedy
475,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi
773,1101,Top Gun (1986),Action|Romance
828,1193,One Flew Over the Cuckoo's Nest (1975),Drama
3132,4571,Bill & Ted's Excellent Adventure (1989),Adventure|Comedy|Sci-Fi
989,1407,Scream (1996),Comedy|Horror|Mystery|Thriller
859,1242,Glory (1989),Drama|War

### Avaliação

In [22]:
# Import libraries from Surprise package
from surprise import Reader, Dataset, SVD, model_selection

# Load Reader library
reader = Reader()

# Load ratings dataset with Dataset library
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

# Split the dataset for 5-fold evaluation
data.split(n_folds=5)

In [23]:
# Use the SVD algorithm.
svd = SVD()

# Compute the RMSE of the SVD algorithm.
model_selection.cross_validate(svd, data, measures=['RMSE'])

{'test_rmse': array([0.87554355, 0.87168557, 0.88049325, 0.87707136, 0.8727878 ]),
 'fit_time': (4.6164538860321045,
  4.557048082351685,
  4.559048891067505,
  4.626682996749878,
  4.38098406791687),
 'test_time': (0.21532225608825684,
  0.18279194831848145,
  0.11783766746520996,
  0.12545108795166016,
  0.17489314079284668)}

In [28]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [29]:
ratings[ratings['userId'] == 1]

     userId  movieId  rating  timestamp
0         1        1     4.0  964982703
1         1        3     4.0  964981247
2         1        6     4.0  964982224
3         1       47     5.0  964983815
4         1       50     5.0  964982931
5         1       70     3.0  964982400
6         1      101     5.0  964980868
7         1      110     4.0  964982176
8         1      151     5.0  964984041
9         1      157     5.0  964984100
10        1      163     5.0  964983650
11        1      216     5.0  964981208
12        1      223     3.0  964980985
13        1      231     5.0  964981179
14        1      235     4.0  964980908
15        1      260     5.0  964981680
16        1      296     3.0  964982967
17        1      316     3.0  964982310
18        1      333     5.0  964981179
19        1      349     4.0  964982563
20        1      356     4.0  964980962
21        1      362     5.0  964982588
22        1      367     4.0  964981710
23        1      423     3.0  964982363
24        1      441     4.0  964980868
25        1      457     5.0  964981909
26        1      480     4.0  964982346
27        1      500     3.0  964981208
28        1      527     5.0  964984002
29        1      543     4.0  964981179
..      ...      ...     ...        ...
202       1     3062     4.0  964981872
203       1     3147     5.0  964983873
204       1     3168     4.0  964982495
205       1     3176     1.0  964983504
206       1     3243     3.0  964981093
207       1     3247     3.0  964983108
208       1     3253     5.0  964981107
209       1     3273     5.0  964983536
210       1     3386     5.0  964983484
211       1     3439     4.0  964981799
212       1     3440     4.0  964981799
213       1     3441     5.0  964982328
214       1     3448     5.0  964984054
215       1     3450     5.0  964981144
216       1     3479     4.0  964981725
217       1     3489     4.0  964981775
218       1     3527     4.0  964982271
219       1     3578     5.0  964980668
220       1     3617     4.0  964980683
221       1     3639     4.0  964982271
222       1     3671     5.0  964981589
223       1     3702     5.0  964983737
224       1     3703     5.0  964981909
225       1     3729     5.0  964982363
226       1     3740     4.0  964982417
227       1     3744     4.0  964980694
228       1     3793     5.0  964981855
229       1     3809     4.0  964981220
230       1     4006     4.0  964982903
231       1     5060     5.0  964984002

[232 rows x 4 columns]

In [30]:
svd.predict(1, 230)

Prediction(uid=1, iid=230, r_ui=None, est=4.244847012368745, details={'was_impossible': False})